@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #16100d;
    --background: #faf8f5;
    --primary: #a17863;
    --secondary: #c6d0af;
    --accent: #a3bd8f;
  }
  .dark {
    --text: #f2ece9;
    --background: #0a0805;
    --primary: #9c735e;
    --secondary: #46502f;
    --accent: #567042;
  }
}
